<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adivina el Pokémon</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">

<div class="max-w-lg mx-auto mt-10 p-6 bg-white rounded-lg shadow-lg">
    <div class="flex items-center justify-center mb-4">
        <img src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png" alt="PokeAPI Logo">
    </div>
    <h1 class="text-2xl font-bold text-center">Adivina el Pokémon</h1>
    <br>

    <!-- Mostrar la imagen del Pokémon aleatorio -->
    <div th:if="${imagenPokemon}">
        <div class="flex justify-center mb-4">
            <img th:src="${imagenPokemon}" alt="Imagen del Pokémon" class="w-32 h-32">
        </div>

        <div th:if="${message == null}" class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-4 rounded-lg shadow-lg">
        <!-- Mostrar el número del Pokémon -->
        <p class="text-lg text-center mb-2"><span class="font-bold">ID: </span><span th:text="${numeroPokemon}"></span></p>
        <!-- Mostrar la habilidad principal del Pokémon -->
        <p class="text-lg text-center mb-2"><span class="font-bold">Habilidad: </span><span th:text="${habilidadPrincipal}"></span></p>
        <!-- Mostrar la pista del nombre del Pokémon -->
        <p class="text-lg text-center mb-2"><span class="font-bold">Nombre: </span><span th:text="${pistaNombre}"></span></p>
        </div>

    </div>

    <!-- Mostrar el formulario solo si no hay mensaje -->
    <div th:if="${message == null}">
        <form action="/adivinar" method="POST" class="mb-4">
            <p class="text-lg text-center mb-2">¿Cuál es el <span class="font-bold">nombre</span> de este Pokémon?</p>
            <div class="mb-4">
                <label for="nombreUsuario" class="block text-sm font-medium text-gray-700 mb-1"/>
                <input type="text" id="nombreUsuario" name="nombreUsuario" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" required>
            </div>
            <!-- Campos ocultos para pasar los datos del Pokémon al backend -->
            <input type="hidden" name="nombrePokemon" th:value="${nombrePokemon}">
            <input type="hidden" name="imagenPokemon" th:value="${imagenPokemon}">
            <button type="submit" class="w-full bg-blue-100 text-blue-800 py-2 rounded-lg hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-300">Voy a tener suerte 🤞</button>
        </form>
    </div>

    <!-- Mostrar el mensaje de resultado -->
    <div th:if="${message}"
         th:class="${message.contains('¡Correcto!') ? 'bg-green-100 border-l-4 border-green-500 text-green-700' : 'bg-red-100 border-l-4 border-red-500 text-red-700'}"
         class="p-4 mb-4" role="alert">
        <p th:text="${message}"></p>
    </div>

    <!-- Botón para reiniciar -->
    <div th:if="${message}">
        <form action="/reiniciar" method="GET" class="mt-4">
            <button type="submit" class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">Siguiente</button>
        </form>
    </div>

</div>

</body>
</html>





